.article-page {
  .article-content {
    .part-common-style();
    margin-top: -165px;
  }
  .article-comment {
    .part-common-style();
    margin-top: 100px;
  }
  .comment-box {
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    padding: 10px;
  }
  .comment-list {
    margin-top: 20px;
  }
}

.part-common-style() {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  padding: 35px;
}
