.login-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 510px;
  min-height: 450px;
  background-color: #f5f7fe;
  .login-wrap {
    position: absolute;
    width: 510px;
    height: 450px;
    padding: 50px 80px;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -255px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 6px 20px 0 rgba(190,190,207,0.50);
  }
  .input-body {
    margin-bottom: 40px;
  }
  .submit-btn {
    width: 100%;
  }
}
