.main-header {
  .header-close-icon {
    margin-left: 20px;
    font-size: 18px;
    cursor: pointer;
  }

  .header-search-wrap {
    margin-right: 20px;
    width: 80px;
    &:focus-within {
      width: 210px;
    }
  }
}
