{
  "rules": {
    "strict": 0,
    "semi": 0,
    "comma-dangle": [2, "never"],
    "import/extensions": 0
  },
  "globals": {
    "isDev": false,
    "Router": false,
    "nextHandle": false
  },
  "parserOptions": {
    "ecmaVersion": 8
  }
}
