{
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
        "strict": 0,
        "semi": 0,
        "indent": [2, 4],
        "comma-dangle": [2, "never"]
    },
    "globals": {
        "isDev": false,
        "Router": false,
        "nextHandle": false
    }
}