{
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "semi": false,
  "endOfLine": "lf",
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed"
}
