@menuWitdh: 240px;
@menuDuration: 0.5s;
@headColor: #99e1e5;
@bodyColor: #f7f7f5;

.global-wrap {
  overflow-y: scroll;
}
.global-router-progress {
  &._b-linearprogress {
    position: fixed;
    z-index: 1001;
  }
}
.main-wrap {
  padding-left: @menuWitdh;
  transition: padding-left @menuDuration;
  &.menu-has-close {
    padding-left: 0;
  }
}
.main-content {
  height: 100%;
  background-color: @bodyColor;
}
.content-header {
  padding: 80px 100px 20px 100px;
  height: 230px;
  background-color: @headColor;
  .title {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
  }
}
.content-body-wrap {
  // calc(100vh - 300px) 写在 less 里会编译成 -200vh
  // 需要写成 calc(~"100vh - 300px")
  min-height: calc(~"100vh - 300px");
  .content-body-main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
