{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["."],
        "alias": {
          "store": "./store",
          "#": "./store",
          "components": "./components",
          "~": "./components",
          "static": "./static",
          "@": "./static",
          "utils": "./utils",
          "_": "./utils",
          "hoc": "./hoc"
        }
      }
    ], [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ], [
      "@babel/plugin-proposal-decorators", { "legacy": true }
    ], [
      "@babel/plugin-proposal-class-properties", { "loose": true }
    ]
  ]
}
