{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "styled-jsx/babel",
            {
                "plugins": [
                    /* "styled-jsx-plugin-postcss", */
                    "styled-jsx-plugin-less"
                ]
            }
        ]
    ]
}
