* {
  box-sizing: border-box;
}

html {
  min-width: 970px;
}
p {
  margin-bottom: 0;
}

#__next {
  min-height: 100%;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

// .box-line-loop(@line) when (@line > 0) {
//   .box-line-loop(@line - 1);
//   .box-line-@{line} {
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
//     -webkit-line-clamp: @line;
//   }
// }
// .box-line-loop(4);

.anchor-style-fix.ant-anchor-wrapper {
  position: fixed;
  z-index: 1;
  top: 315px;
  right: 40px;
  border: 1px solid #f7eeee;
  // margin-left: 960px;
  // right: 10px;
  // background-color: transparent;
  padding-left: 0;
  .ant-anchor {
    padding-left: 0;
  }
  .ant-anchor-ink {
    display: none;
  }
  .ant-anchor-link {
    padding: 8px;
  }
  .ant-anchor-link-active {
    border-left: 5px solid #2196f3;
    background-color: #00bcd4;
    position: relative;
    border-left: 0;
    .ant-anchor-link-title {
      color: #ffffff;
    }
  }
}
.card-list-delimiter {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  &:first-of-type {
    margin-top: 10px;
  }
  &:hover {
    &:after {
      content: '#';
      position: absolute;
      left: -15px;
    }
  }
}
