@import './antd.min.css';
@import 'normalize.css';
@import 'codemirror/lib/codemirror.css';

* {
  transition: all .5s;
}

html {
  min-width: 970px;
}

#__next {
  min-height: 100%;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

// .box-line-loop(@line) when (@line > 0) {
//   .box-line-loop(@line - 1);
//   .box-line-@{line} {
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
//     -webkit-line-clamp: @line;
//   }
// }
// .box-line-loop(4);
